*{
    margin: 0;
    padding: 0;
}
body{
    height: 5000px;
    font-family: Avenirnextltpro, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fullwidth{
    width: 100%;
}
.flexrow{
    display: flex;
    flex-direction: row;
}
.flexcol{
    display: flex;
    flex-direction: column;
}
.bag{
    background: black;
    width: 30px;
    height: 30px ;
    border-radius: 50%;
}
.navbar-con{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 24px 100px;
    letter-spacing: 5px;
    border-bottom: 1px solid #e0e1e6;
}
.border{
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}
.spacebtwn{
    display: flex;
    justify-content: space-between;
}
.padding-100{
    padding-left: 100px;
    padding-right: 100px;
}
.back{
    background: grey;
}